html {
	overflow: hidden;
}

body {
	margin: 0;
}

.gallery_slider {
	text-align: center;
}

.animBtn {
	border: 0;
	opacity: 0.4;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -20px;
}

.animBtn span {
	display: none;
}

.animBtn:hover {
	opacity: 0.8;
}

.animBtn:active {
	opacity: 1;
}

.animBtn.playBtn {
	background: url(btnPlay.png) no-repeat center center;
}

.animBtn.pauseBtn {
	background: url(btnPause.png) no-repeat center center;
}

.fade>img {
	animation: fading 2s infinite;
}

@keyframes fading {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}