/* START - Model specifc =================================================== */

.default #tools ul {
	padding-left: 70px !important;
}
#footer .scTtRegistered{
	display: none;
}
/* END - Model specifc ==================================================== */

/* START - Content overload styles ========================================= */
*:focus{
	outline: 0
}
.scCommentOn *[data-origin]{
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.scCommentOn .scCommentable.hover{
	box-shadow:inset 0 0 5px 0px #62b880;
}
.scCommented{
	position: relative;
}
/*.scCommentOff .scTtRegistered{
	display: none;
}*/
.scCommentOn sup.scTtRegistered > a{
	margin-left:3px;
	color: #434e52;
	text-decoration: none;
}
.scCommentOn sup.scTtRegistered > a:hover{
	text-decoration: underline;
}
li.footnotes_it:target{
	background-color: #E0ECEC;
}
/* END - Content overload styles =========================================== */

/* START - ToolBar ========================================================= */
.scCommentToolBar .activationCommentDiv {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50px;
	box-shadow: inset 0px 0px 5px #9a9a9a;
	width: 50px;
	background-color: white;
	height: 30px;
}
.scCommentToolBar .turnOn, .scCommentToolBar .turnOff{
	width: 30px;
	height: 30px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	cursor: pointer;
	color: transparent;
	background: url("../icons/comments.svg") no-repeat center center / 30px auto;
	transition: all 0.2s ease-out;
	position: absolute;
	top: 0;
}
.scCommentToolBar .turnOff {
	background-color: #62b880;
	left: 22px;
}
.scCommentToolBar .turnOn {
	background-color: #dadada;
	left: 0;
}
.scCommentToolBar .globalInfoBullet {
	position: absolute;
	bottom: -21px;
	left: 0;
	border-radius: 16px;
	background-color: white;
	font-weight: bold;
	color: #FC00A7;
	border: 1px solid white;
	text-align: center;
	display: block;
	/* padding: 2px; */
	box-shadow: 0px 0px 3px #9a9a9a;
	z-index: 2;
	cursor: help;
	font-size: 9pt;
	width: 38px;
	text-align: center;
}
.scCommentToolBar .globalInfoBulletDesc{
	background-color: #FFFFFF;
	border-radius: 5px;
	min-width: 200px;
	padding: 5px;
	position: absolute;
	text-align: left;
	opacity: 0;
	left: 10px;
	border:1px solid #FC00A7;
	top: -20px;
	visibility: hidden;
	color: #FC00A7;
	box-shadow: 0px 0px 5px #9a9a9a;
	-webkit-transition: visibility 0.1s linear 0.5s, opacity 0.1s ease-in 0.2s, left 0.2s ease-in 0.2s;
	transition: visibility 0.1s linear 0.5s, opacity 0.1s ease-in 0.2s, left 0.2s ease-in 0.2s;
}
.globalInfoBullet:hover .globalInfoBulletDesc{
	opacity: 1;
	left: 30px;
	visibility: visible;
	-webkit-transition: visibility 0.1s linear, opacity 0.1s ease-out 0.1s, left 0.2s ease-out;
	transition: visibility 0.1s linear, opacity 0.1s ease-out 0.1s, left 0.2s ease-out;
}
/* END - ToolBar =========================================================== */

/* START - commentContainer ================================================ */
.commentContainer button{
	border:1px solid white;
	height: 19px;
	width: 19px;
	color: transparent;
	cursor: hand;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	padding: 0;
	display: inline-block;
	background-image: url(../icons/spriteButtons.png);
}
.commentContainer button:hover{
	border-color:gray;
}
.commentContainer .comment button{
	margin: 3px 3px 3px 0
}
.commentContainer .meta{
	margin: 3px;
	color: gray;
	display: inline-block;
	padding: 3px;
	font-size: 70%;
}
.commentContainer .editButton{
	background-position:-100px top; 
}
.commentContainer .deleteButton{
	background-position:left top; 
}
.commentContainer .validButton{
	background-position:-120px top; 
	float: right;
}
.commentContainer .cancelEditButton{
	background-position:-20px top; 
	float: right;
}
.commentContainer .cancelCreateButton{
	background-position:left top; 
	float: right;
}
.commentContainer .close{
	background-position:-120px top; 
}
.commentContainer .open{
	background-position:-100px top; 
}
.commentContainer button.close,
.commentContainer button.open,
.commentContainer button.deleteThread{
	display: block;
}
.commentContainer .addButton{
	background: url(../icons/response.png);
	border-color: #FCF7B8;
	border-width: 2px;
	height: 35px;
	width: 35px;
	box-shadow: 0px 0px 3px #C4C4C4;
	margin: 10px
}
.commentContainer .tools{
	float: right;
}
.commentContainer .thread{
	background:url(../icons/bkgThread.png) top left no-repeat;
	background-size: 4px 100%;
	margin-left: 30px;
	padding: 0 5px 20px 10px;
	position: relative;
	min-height: 80px
}
.commentContainer .threadTools{
	background-color: #fff9a8;
	display: inline-block;
	padding: 5px;
	vertical-align: top;
	margin-left:-35px;
	position: absolute;
}
.commentContainer .bottom{
	display: inline-block;
	vertical-align: middle;
}
.commentContainer .comment{
	display: block;
	vertical-align: middle;
	background: url(../icons/nextComment.png) left center no-repeat;
	padding: 5px 7px 5px 20px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.scCommentable.hover .commentContainer .comment{
	cursor: auto;
}
.commentContainer .comment.first{
	padding-left: 7px;
	background: none;
}
.commentContainer .comment.last{
	display: inline-block;
	width: calc(100% - 80px)
}
.commentContainer .commentInside{
	background: -webkit-linear-gradient(top,  #FFFABF 0%, #ffffe0 100%);
	background: linear-gradient(to bottom,  #FFFABF 0%, #ffffe0 100%);
	box-shadow: 0px 0px 3px #C4C4C4;
	position: relative;
}
.commentContainer .comment.first .commentInside{
	background: -webkit-linear-gradient(top,  #FFF57B 0%, #FFFFA7 100%);
	background: linear-gradient(to bottom,  #FFF57B 0%, #FFFFA7 100%);
}
.commentContainer .comment .content{
	padding: 5px;
	white-space: pre-wrap;
}
.commentContainer .edit.comment .content{
	margin-top: -30px
}
.commentContainer{
	overflow: visible;
	-webkit-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
	opacity: 0.65;
	pointer-events:none;
	color: black;
}
.commentContainer *{
	pointer-events:auto;
}
scCommentable.hover + .commentContainer,
scCommentable.hover > .commentContainer,
.commentContainer.hover{
	opacity: 1;
}
.scCommentOff .commentContainer{
	display: none;
}
.commentContainer .edit{
	min-width: 300px
}
.commentContainer .editformArea{
	height: 100px;
	width: 100%;
	resize:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.commentContainer .thread.closed{
	min-height: 0
}
.commentContainer .closed .comment{
	display: inline-block;
	width: auto;
	background-image: url(../icons/nextCommentDisabled.png)
}
.commentContainer .closed .comment.first{
	background-image: none;
}
.commentContainer .closed .comment .content{
	max-height: 100px;
	overflow:auto;
}
.commentContainer .closed .comment.first .commentInside {
	background: linear-gradient(to bottom, #E8E8E8 0%, #FAFAFA 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.commentContainer .closed .comment .commentInside {
	background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.commentContainer .thread.closed {
	background-image: url("../icons/bkgThreadDisabled.png");
}
.commentContainer .closed .threadTools {
	background-color: #F4F4F4;
}
.commentContainer .comment p{
	color: black !important;
}
.commentContainer .debugPath,
.commentContainer .debugPathFloat{
	color: silver;
	font-size: 60%;
}
/* END - commentContainer ================================================== */

/* START - modal =========================================================== */
.cmt_modal_background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 2;
}
.cmt_alert, .cmt_confirm {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    border-radius: 5px;
    padding: 2em 1em;
    min-width: 25%;
    box-shadow: 1px 1px 4px #666;
    max-width: 70%;
	z-index: 3;
	background-color:#f2f2f2;
	border:2px solid;
}
.cmt_alert{
	border-color: #b86262;
}
.cmt_confirm {
	border-color:#62b880;
}
.cmt_modal_close {
    background: transparent url(../icons/close.svg) no-repeat center center / 16px auto;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
}

.cmt_modal_close span{
	position:absolute;
	left:-9999px;
}

.cmt_modal_tools {
    text-align:right;
    margin-top: 1.5em;
}

button.cmt_modal_confirm, button.cmt_modal_cancel {
    border: 1px solid #62b880;
	color:#62b880;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 1em;
}

/* END - modal ============================================================= */