/** Generic styles ************************************************************/
html{
	margin: 0px;
	padding: 0px;
}
body{
	margin:0;
}
.hidden{
 display:none;
}
p{
	margin: 0.5em 0;
	line-height:1.4;
}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
h1{font-size:1.2em;  margin: 1.0em 0 0.8em 0;}
h2{font-size:1.1em;  margin: 1.0em 0 0.7em 0;}
h3{font-size:1.1em;  margin: 1.0em 0 0.6em 0;}
h4{font-size:1.1em;  margin: 0.8em 0 0.5em 0;}
h5{font-size:1.1em; margin: 0.7em 0 0.4em 0;}
h6{font-size:1.1em;  margin: 0.6em 0 0.3em 0;}
ul,ol{
	padding-left:30px;
	margin:0.6em 0;
}
li{
	margin:0.6em 0;
}
sup,sub{
	font-size: smaller;
}

/** Content : block layout ****************************************************/
.headCo_ti{
	padding: 0 10px;
}
.content{
	clear:left;
}
.part {
	margin: 2em 0 1em 0;
}
.infoblock,
.block{
	margin: 1em 0 1.6em 0;
}
.stepList_co .infoblock,
.stepList_co .block,
.concept_co .infoblock,
.concept_co .block{
	margin: 0.3em 0 0.8em 0;
}
.basket{
	clear:both;
}

/** Content : block styles ****************************************************/
.part_ti{
	color:#5D5D5D;
	border-bottom: 1px solid #A4A4A4;
	padding: 0 20px;
}
.infoblock {
	padding-left:10px;
}
html[dir=rtl] .infoblock {
	padding-left:0px;
	padding-right:10px;
}
.block{
	background-image:url("../img/block/back.png");
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left:15px;
	position: relative;
}
html[dir=rtl] .block{
	background-image:url("../img/block/back-rtl.png");
	padding-left:0px;
	padding-right:15px;
	background-position: right 3px;
}
.block_ti, .infoblock_ti{
	margin-bottom:0;
	font-size:1.1em !important;
}
.blockAnchor{
	display:none;
}
span.block_ti_co{
	display: inline-block;
	min-height:16px;
}
span.block_ti_co:before{
	content: "";
	display: inline-block;
	width:16px;
	height:16px;
	background-image: url("../img/block/base.png");
	background-repeat: no-repeat;
	margin-right:4px;
}
html[dir=rtl] span.block_ti_co:before{
	margin-right:0px;
	margin-left:4px;
}

span.blockType{
	display:none;
}
.block_no_ti > .block_ti{
	margin:0;
}
.block_no_ti > .block_ti > span.block_ti_co{
	position: absolute;
	background-color: #F7F7F7;
}
.block_no_ti.screen > .block_ti > span.block_ti_co,
.block_no_ti.stepList > .block_ti > span.block_ti_co,
.block_no_ti.cbkClosed > .block_ti > span.block_ti_co{
	position: inherit;
}
.warning_ti span.block_ti_co:before{
	background-position: 0 -58px;
}
.advice_ti span.block_ti_co:before{
	background-position: 1px -120px;
}
.tip_ti span.block_ti_co:before{
	background-position: 3px -180px;
}
.example_ti span.block_ti_co:before{
	background-position: 0 -238px;
}
.note_ti span.block_ti_co:before{
	background-position: 0 2px;
}
.legal_ti span.block_ti_co:before{
	background-position: 0 -300px;
}
.complement_ti span.block_ti_co:before{
	background-position: 0 -358px;
}
.concept_ti span.block_ti_co:before{
	background-position: 0 -420px;
}
.screen_ti span.block_ti_co:before{
	background-position: 0 -540px;
	padding-left: 23px;
}
.tree_ti span.block_ti_co:before{
	background-position: 0 -780px;
	min-height: 18px;
}
.block_co{
	padding-top: 1px;
	padding-left: 12px;
	margin-left: 8px;
	border-left: 1px solid #C0C0C0;
	border-radius: 0px 0px 0px 5px;
}
html[dir=rtl] .block_co{
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 12px;
	margin-right: 8px;
	border-left: none;
	border-right: 1px solid #C0C0C0;
	border-radius: 0px 0px 5px 0px;
}
.warning > .block_co{
	border-color: #FFAAAA !important;
}
.advice > .block_co{
	border-color: #91B8E0 !important;
}
.tip > .block_co{
	border-color: #C891E0 !important;
}
.example > .block_co{
	border-color: #6EC7C8 !important;
}
.note > .block_co{
	border-color: #B6E091 !important;
}
.legal > .block_co{
	border-color: #DC84BD !important;
}
.complement > .block_co{
	border-color: #CFC955 !important;
}
.concept > .block_co{
	border-color: #F6AF00 !important;
}
.screen > .block_co{
}
.stepList > .block_co{
	padding-left: 0px;
	margin-left: 0px;
	border-left: none;
}
.stepList > .block_co > .desc {
	background-image:url("../img/block/stepListBack.png");
	background-repeat: repeat-y;
	background-position: 8px;
	padding-left:10px;
}
.concept_ti dfn{
	font-style: inherit;
}
.concept_co span.syn{
	display:block;
	color:#4D4D4D;
	font-size:0.95em;
	margin-left:20px;
}
.concept_co span.syn:before {
	content: '= ';
}
.concept_co .block,
.stepList_co .block{
	background-image:none;
	padding-left:0px;
}
.concept_co .block_co,
.stepList_co .block_co{
	margin-left: 6px;
}
.concept_co span.block_ti_co,
.stepList_co span.block_ti_co{
	background-image: url("../img/block/small.png");
	padding-left: 16px;
	min-height:14px;
}
.caption{
	text-align: center;
	margin: 0 0 10px 0;
}
.caption_ti{
	font-style: italic;
	color:grey;
}

/** Content : image sequence **************************************************/
.screenSeqFra{
	margin:0 auto;
}

/** Content : text ************************************************************/
.text{
	text-align: justify;
}
table.txt_tb{
	border-spacing: 0;
	display: table;
	border-collapse: collapse;
	box-shadow: 0 1px 1px #ccc;
	margin:5px auto;
}
table.txt_tb caption{
	font-style: italic;
	color:grey;
}
table.txt_tb th,table.txt_tb td{
	padding: 0 3px;
	border:1px solid gray;
}
table.txt_tb th{
	text-align: center;
}

table.txt_tb .txt_colTi_tbcl{
	background-color: #EEE;
}
table.txt_tb .txt_rowTi_tbtr {
	background-color: #DDD;
}
table.txt_tb .txt_cellEmp_tbtd {
	background-color: #CCC;
	text-align: left;
	box-shadow: inset 0px 0px 5px 2px #EEE;
}
table.txt_tb .txt_cellCenter_tbtd p{
	text-align:center;
}
table.txt_tb p{
	margin: .3em 0;
	text-align: left;
}
tr.txt_rowTi_tbtr th p{
	text-align:center;
}
table.layout_tb{
	border-collapse: collapse;
	border-spacing: 0;
}
table.layout_tb td{
	padding: 0 10px 10px 0
}
table.txt_tb th>div,
table.txt_tb td>div,
table.layout_tb th>div,
table.layout_tb td>div{
	margin: .3em 0
}
ul.txt_sl,
ul.txt_il {
	list-style-type:disc;
}
.txt_p a, .txt_m a {
	color: #525252;
	text-decoration: underline;
}
.ico_tim img,
.txt_ico_tim img {
	vertical-align: middle;
}
.txt_textTab_is,
.txt_textButton_is,
.txt_textRadioButton_is,
.txt_textCheckBox_is,
.txt_input_is,
.txt_select_is,
.txt_keyboard_is,
.txt_menuPath_is,
.txt_filePath_is,
.txt_win_is{
	white-space: pre;
	padding:0px 3px;
	margin:1px 0;
	box-shadow: inset 0 -8px 10px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255, 0.3), inset 0 1px 0 rgba(255,255,255, 0.3);
	border: 1px solid #cecece;
	font-family: sans-serif;
	background-color:white;
	color:black;
}
.txt_textTab_is{
	border-radius: 5px 5px 0px 0px;
}
.txt_textButton_is,
.txt_textRadioButton_is,
.txt_textCheckBox_is,
.txt_input_is,
.txt_select_is,
.txt_keyboard_is,
.txt_menuPath_is,
.txt_filePath_is{
	border-radius: 5px;
}
.txt_menuPath_is,
.txt_filePath_is{
	border-radius: 0px 8px 8px 0px;
}
.txt_textTab_is,
.txt_textRadioButton_is,
.txt_textCheckBox_is,
.txt_input_is,
.txt_select_is,
.txt_keyboard_is,
.txt_menuPath_is,
.txt_filePath_is,
.txt_win_is,
.txt_url_ul,
.txt_web_ul{
	background-image:url("../img/text.png");
	background-repeat: no-repeat;
	background-position: 3px 2px;
	padding-left:18px;
}
.txt_textCheckBox_is {
	background-position: 3px -28px;
}
.txt_keyboard_is {
	background-position: 3px -58px;
}
.txt_menuPath_is {
	background-position: 3px -88px;
}
.txt_filePath_is {
	background-position: 3px -118px;
}
.txt_win_is {
	background-position: 3px -268px;
}
.txt_textTab_is {
	background-position: 3px -298px;
}
.txt_input_is {
	background-position: 3px -328px;
}
.txt_select_is {
	background-position: 3px -358px;
}
.txt_label_is {
	text-decoration: underline;
}

.txt_url_ul,
.txt_web_ul{
	padding-left:0px;
	padding-right:13px;
	background-position: right -235px;
	color: #676767;
}
.txt_term_is{
	color:#676767;
	font-family: sans-serif;
}
.txt_cmd_is {
	font-family: Courier, "Lucida Console", monospace;
}
a.txt_def_ul,
a.txt_doc_ul{
	text-decoration: none; border-bottom:1px dotted;
}
.tooltip{
	background-color:#8E8E8E;
	color:white;
	border-radius: 5px;
	font-size:0.9em;
}
.tooltip_ti{
	font-size:1.2em;
	padding: 5px 20px 5px 5px;
}
.tooltip_co{
	padding: 3px 5px;
}
.tooltip a{
	color:white;
}
.tooltip .txt_term_is{
	color:#363636;
}
.tooltip_x{
	position: absolute;
	top: 0;
	right: 2px;
	text-decoration: none;
	font-size: 1.2em;
}
/** Content : subWindow ********************************************************/
.subWindow_over{
	background-color: #DDD;
	opacity: 0.4;
	position:fixed;
	width:100%;
	height:100%;
}
.subWindow_win{
	padding:10px;
	width:inherit;
	height:inherit;
	top:20px;
	left:20px;
	bottom:20px;
	right:20px;
	background-color: white;
	border-radius: 10px;
	box-shadow:  0px 0px 20px 0px #999;
	display: flex;
}
a.subWindow_x{
	position:absolute;
	top:-15px;
	right:-15px;
	width:30px;
	height:30px;
	background-image:url("../img/nav/close.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.subWindow_ti{
	flex: 0 0 auto;
}
.subWindow_co{
	flex: 1 1 auto;
	position: relative;
}
.subWindow_fra{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
a.subWindow_x span{
	display:none;
}
/** STOP - subWindow ********************************************************/

/** Content : scImgMgr ********************************************************/
.screenSeq > .caption_co{
	display:inline-block;
	margin:0 auto;
	background-color: #DDD;
	padding: 5px;
	border-radius: 5px;
}
.screenSeqFra .caption{
	margin:0;
}
.screenSeqFra{
	margin:0 auto;
}
.scImgZmOver{
	background-color: #DDD;
	opacity: 0.4;
	position:fixed;
	width:100%;
	height:100%;
}
.scImgZmCvs{
	padding:20px;
	width:inherit;
	height:inherit;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.scImgZmFra{
	background-color: white;
	padding:10px;
	border-radius: 10px;
	box-shadow:  0px 0px 20px 0px #999;
}
a.scImgZmBtnCls{
	position:absolute;
	top:-15px;
	right:-15px;
	width:30px;
	height:30px;
	background-image:url("../img/nav/close.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.scImgZmBtnCls span{
	display:none;
}
.scImgZmTi{
	text-align: center;
	margin:5px 5px 0px 5px;
	color:gray;
	font-style: italic;
}
.scImgZmMag{
	border-radius: 5px;
	box-shadow:  0px 0px 10px 0px #555;
}
.scImgAnmCtrl{
	padding: 5px;
	width: 115px;
	height: 16px;
	position:relative;
	margin:0 auto;
}
.scImgAnmCtrLbl{
	display:none;
}
.scImgAnmBtnInitPly{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:url(../img/anim/playBtn.png) no-repeat center center;
}
.scImgAnmBtnInitPly span{
	display:none;
}
a.scImgAnmBtnPse,
a.scImgAnmBtnPly,
a.scImgAnmBtnNxt,
a.scImgAnmBtnPrv {
	position:absolute;
	width:15px;
	height:12px;
	background-image:url("../img/anim/player.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.scImgAnmBtnPse {
	left:30px;
	background-position: 0px -90px;
}
a.scImgAnmBtnNxt {
	left: 55px;
	background-position: 1px -60px;
}
a.scImgAnmBtnPrv {
	left:5px;
}
a.scImgAnmBtnPly {
	left:30px;
	background-position: 1px -30px;
}
a.scImgAnmBtnPse:hover,
a.scImgAnmBtnNxt:hover,
a.scImgAnmBtnPrv:hover,
a.scImgAnmBtnPly:hover {
	opacity: 0.8;
}
.scImgAnmCtrl a span,
.scImgSep{
	display:none;
}
.scImgAnmCtrIdx{
	position:absolute;
	left:80px;
	width:15px;
	height:13px;
}
.scImgAnmCtrSep{
	position:absolute;
	left:95px;
	width:10px;
	height:13px;
}
.scImgAnmCtrCnt{
	position:absolute;
	left:105px;
	width:15px;
	height:13px;
}
/** STOP - scImgMgr ********************************************************/

.code-form {
	border: 1px solid silver;
	background-color: white;
}

/* === CodeMirror =========================================================== */
.CodeMirror-static{
	margin-left:40px;
}
.CodeMirror-static pre {
	/* Reset some styles that the rest of the page might have set */
	border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre-wrap;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;
	border-right: 30px solid transparent;
	font-family: monospace;
}
.CodeMirror-line{
	position: relative;
	min-height: 16px;
}
.CodeMirror-linenumber{
	position: absolute;
	top:0;
	left:-40px;
	width:30px;
	padding: 0 3px 0 5px;
	min-width: 20px;
	min-height: 16px;
	text-align: right;
	color: #999;
	background-color: #f7f7f7;
}

.cm-keyword {color: #708;}
.cm-atom {color: #219;}
.cm-number {color: #164;}
.cm-def {color: #00f;}
.cm-variable {color: black;}
.cm-variable-2 {color: #05a;}
.cm-variable-3 {color: #085;}
.cm-property {color: black;}
.cm-operator {color: black;}
.cm-comment {color: #a50;}
.cm-string {color: #a11;}
.cm-string-2 {color: #f50;}
.cm-meta {color: #555;}
.cm-error {color: #f00;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #997;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-invalidchar {color: #f00;}
/* === STOP - CodeMirror ==================================================== */
