.scCommentable,
.scEditable {
	padding-right: 50px !important;
	box-sizing: border-box;
	position: relative;
}

.scCommentable .scCommentable,
.scCommentable .scEditable,
.scEditable .scCommentable,
.scEditable .scEditable {
	margin-right: -50px !important;
}

.tplCoFra > button {
	margin-top: 1.3em;
}

.scCommentOff button.wui-edit,
.scCommentOff button.insertCmt {
	display: none;
}

button.wui-edit, button.insertCmt {
	width: 22px;
	height: 22px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	cursor: pointer;
	color: transparent;
	transition: all 0.2s ease-out;
	position: absolute;
	z-index: 1;
	opacity: 0.5;
	top: 3px;
}

button.wui-edit {
	background: #6272b8 url("edit.svg") no-repeat center center / 22px auto;
	right: 30px;
}

button.insertCmt {
	background: #f3ad2e url("comment.svg") no-repeat center center / 22px auto;
	right: 3px;
}

button.wui-edit span, button.insertCmt span {
	position: absolute;
	left: -9999px;
}

button.wui-edit:hover {
	background-color: #16276f;
}

button.insertCmt:hover {
	background-color: #b1760b;
}

.scCommentable.hover:hover > button,
.scEditable.hover:hover > button {
	opacity: 1;
}

button.wui-edit:hover + .text {
	background-color: #d0f7f7;
}
