body{
	background-color: #c6d2f44d;
	font-family:"Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	font-size:.8em;
	color:#303030;
}

.root{
	max-width:1024px;
	margin:0 auto;
	width:100%;
	padding:1em;
	box-sizing:border-box;
}

h1,h2,h3,h4{
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}

a {
    text-decoration: none;
}

a:hover{
	opacity:.7;
}
ul{
	margin: 0;
	padding: 5px 0px 5px 15px;
}

.comment_ti{
	font-size : 1.1em;
	color : #858995;
	font-weight: bold;
	margin-top:.5em;
	border-bottom: 1px solid #d4dbed;
    padding-bottom: .2em;
}
.showRub .comment_ti {
    margin-top: 0;
    padding: 0;
    border: none;
    color: #303030;
}

.histo{
	border-top : 1px solid grey;
	margin-top: 10px;
}

.histo:first-child{
	border-top : none;
}
.histoListTi{
	display: none;
}

p{
	margin: 3px 0px;
}

.ptritem{
	-moz-user-select: all;
	border:1px dotted lightgrey; 
	color:grey;
	margin: 0 2px;
	padding : 2px 2px 2px 20px;
	background: url("img/default.png") no-repeat center left;
}
.ptritem:hover{
	border-color : gray;
}

.showRub > a {
    border-bottom: 1px solid #d4dbed;
    padding-bottom: .2em;
	margin-top:1em;	
}
.showRub_ti{
	padding-left : 18px;	
	font-size : 1.1em;
	color : #858995;
	font-weight: bold;
}
.showRub_co{
	margin-left:10px;	
}

.showRub_closed.showRub_closed{
	background: url("img/close.svg") no-repeat center left / 16px auto;
}
.showRub_open.showRub_open{
	background: url("img/open.svg") no-repeat center left / 16px auto;
}

.showUpdate{
	margin-top:5px;
}
.showUpdate_ti{
	padding-left : 14px;	
	font-size : 1em;
	color : #858995;
	font-weight: bold;
}
.showUpdate_co{
	margin-left : 6px;
	padding-left : 5px;
	border-left : 1px dotted #6288b8;	
	margin-bottom : 1em;
}
.showUpdate_closed.showUpdate_closed{
	background: url("img/close.svg") no-repeat center left / 12px auto;
}
.showUpdate_open.showUpdate_open{
	background: url("img/open.svg") no-repeat center left / 12px auto;
}


/** ### Short view : commun ### */
.hdTitle{
	font-weight: bold;
	font-size:1.3em;
	color:#6288b8;
}

.head{
	padding-bottom:.5em;
	border-bottom: 1px solid #d4dbed;
	    margin-bottom: .5em;
}

.updateDate{
	font-weight: normal;
	font-size: 0.8em;	
}

.attributes {
    display: flex;
	margin-top: 1em;
}
.splitcontent {
    flex: 1 1 50%;
}
.attribute {
    display: flex;
    flex-wrap: wrap;
}
span.label {
    flex: 0 0 120px;
	font-weight:bold;
	padding: 2px 5px 2px 0;
}
span.value{
	padding: 2px 0 2px 5px;
}


@media(max-width:500px){
	.attributes {
		flex-direction:column;
	}
	.splitcontent {
		flex: 0 1 auto;
	}
}