body{
	background-color: #d4dbed;
	background-image : linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.9));
	font: 8pt arial;
	color:#494c52;
}

h1{
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}

h2,h3,h4,.comment_ti{
	font-size: 1em;
	font-weight: bold;
	font-style : italic;
	margin: 0;
}

h3,
h4{
	font-size: 1em;
	font-weight: normal;
	font-style : italic;
	margin: 0;
}

ul{
	margin: 0;
	padding: 5px 0px 5px 15px;
}

.description_co,
.comment_co{
	margin-left: 1em;
}
/*
.description_ti,
.comment_ti{
	margin: 0;
}*/

.histo{
	border-top : 1px solid grey;
	margin-top: 10px;
}

.histo:first-child{
	border-top : none;
}
.histoListTi{
	display: none;
}

p{
 margin: 3px 0px;
}

.ptritem{
	-moz-user-select: all;
	border:1px dotted lightgrey; 
	color:grey;
	margin: 0px 2px 0px 2px;
	padding : 2px 2px 2px 20px;
	background: url(img/default.png) no-repeat top left;
}
.ptritem:HOVER{
	border-color : gray;
}

.showRub{
	margin-top:1em;	
}
.showRub_ti{
	padding-left : 18px;	
	font-size : 1.1em;
	color : #858995;
	font-weight: bold;
}
.showRub_co{
	margin-left:10px;	
}
.showRub_closed.showRub_closed{
	background: url(img/rubClose.png) no-repeat top left;
}
.showRub_open.showRub_open{
	background: url(img/rubOpen.png) no-repeat top left;
}

.showUpdate{
	margin-top:5px;
}
.showUpdate_ti{
	padding-left : 14px;	
	font-size : 1em;
	color : #858995;
	font-weight: bold;
}
.showUpdate_co{
	margin-left : 12px;
	padding-left : 5px;
	border-left : 1px #858995 dotted;	
	margin-bottom : 1em;
}
.showUpdate_closed.showUpdate_closed{
	background: url(img/updateOpen.png) no-repeat center left;
}
.showUpdate_open.showUpdate_open{
	background: url(img/updateClose.png) no-repeat center left;
}


/** ### Short view : commun ### */
.hdTitle{
	font-weight: bold;
	font-size:1.3em;
}
.hdProps,
.hdExecutor{
	text-align: right;
	font-style: italic;
}

.hdState{
	text-align: right;
}

.hdExecutor{
	font-weight : bold;
}

.head{
	color : #858995;
	padding:3px;
	border :1px solid #d4dbed;
	border-radius:5px;	
	background-color: #d4dbed;
	background-image : linear-gradient(to bottom, rgba(255,255,255,0.80), rgba(255,255,255,0.90));
}
.content{
	margin-top : 1em;	
}

.updateDate{
	font-weight: normal;
	font-size: 0.8em;	
}