/* *********************************************************
	Basic HTML selectors
*/
html{
	width: 100%;
	height: 100%;
}
body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	overflow: hidden;
	background-color:white;
}

p{
	margin-top:0.5em
}

table p {
	margin:0px;
}
h1, h2, h3,h4,h5,h6{
	color:#434e52;
}
h1, h2, h3{
	margin: 0.5em 0px 0.2em 0px;
}
a{
	color:#434e52;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a img{
	border: 0px;
}
ul{
	list-style-type:disc;
}
table {
	border-collapse:collapse;
}
ul, ol {
	color:#434e52;
	padding-left:3em;
}
li span,
li p,
li div{
	color:black;
}
li a span{
	color:#434e52;
}
q:before, 
q:after {
	content: "";
}
h1 {
	font-size:1.5em;
	font-weight:bold;
	margin:0.67em 0;
}
h2 {
	font-size:1.2em;
	font-weight:bold;
	margin: 0 0 0.83em 0;
}
h3 {
	font-size:1.1em;
	font-weight:bold;
	margin: 0 0 1em 0;
}
h4 {
	font-weight:bold;
	margin: 0 0 1.33em 0;
}
h5 {
	font-size:0.83em;
	font-weight:bold;
	margin: 0 0 1.67em 0;
}
h6 {
	font-size:0.67em;
	font-weight:bold;
	margin: 0 0 2.33em 0;
}

/* *********************************************************
	Utilities
*/
.hidden{
	position: absolute;
	width:1px;
	height:1px;
	visibility: hidden;
	top:-10000px;
	left:-10000px;
}

/* *********************************************************
	Slideshow root page styles
*/
div#tplRootPge{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: white;
}
div#tplSldFra{
	position: absolute;
	top:0;
	right:0;
}
div#tplToc{
	position: absolute;
	top:0;
	left:0;
	background-color: #e0ecec;
}
div#tplTocCo{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
}
div#tplTools{
	position: absolute;
	right: 0;
	top: 0;
	height: 44px;
	width: 20px;
}
a.btnModeHtml, a#btnModeSs{
	position: absolute;
	height : 40px;
	top:0;
	width:30px;
	right:10px;
	background-repeat: no-repeat;
	background-position: center;
}
div#tplRootNav{
	position: absolute;
	right: 0;
	bottom: 20px;
	height: 35px;
	width: 100px;
}

/* *********************************************************
	Slideshow slide page styles
*/
div#tplPge{
	position: absolute;
	width:100%;
	height:100%;
	background-color: white;
	overflow:hidden;
}

a.btnNxt, a.btnPrv, 
#btnPrv, #btnNxt, #btnRoot{
	position: absolute;
	width:35px;
	height:50px;
	bottom: 0px;
	background: url(../img/nav/buttons.svg) no-repeat 0 0/ 100% auto;
}
a.btnPrv, #btnPrv{
	background-position: 0 2px;
	right: 55px;
}
a.btnNxt, #btnNxt{
	background-position:0 -45px;
	right: 15px;
}
a.btnPrv:hover, a.btnNxt:hover,
#btnPrv:hover, #btnNxt:hover, #btnRoot:hover{
	opacity:0.5;
}
a.btnPrv span, a.btnNxt span, 
#btnPrv span, #btnNxt span, #btnRoot span{
	display: none;
}

div#tplFootBanner{
	position: absolute;
	font-size: 0.9em;
	cursor:default;
	bottom: 0;
	right:0;
	background-color:#f2f2f2;
	height:20px;
}
.legalInfo {
    margin-left: 5px;
}
div#tplFootBanner .copyright{
	font-style: italic;
}
div#tplFootBanner .version{
	color: #6A9662;
}
div#tplFootBanner img{
	vertical-align: middle;
}

/* *********************************************************
	Content styles
*/
.bkDiv h2.bkBase_ti{
	background-image: linear-gradient(to right, #434e52 0%,rgba(0,0,0,0) 100%);
    background-size: 100% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 4px;
}

.bkBp{
	min-height:95px;
	background-color: rgba(224, 236, 236, 0.5);
    border-radius: 0 0 0 5px;
	margin:40px 1px 15px 0;
    padding: 1px 4px 4px;
}
.bkWarning{
	background-color: rgba(238, 28, 37, 0.2);
}

.bkBp::before{
	background:url("../img/co/blocks.svg") no-repeat scroll transparent;
	float:right;
	display:block;
	height: 40px;
	padding-left:40px;
	margin-top:-40px;
	color:#434e52;
	line-height: 40px;
}

.bkDef::before{
	background-position:0 -32px;
	content:"Définition";
}
.bkEx::before{
	background-position:0 -354px;
	content:"Exemple";
}
.bkRem::before{
	background-position:0 -68px;
	content:"Remarque";
}
.bkAdv::before{
	background-position:0 -209px;
	content:"Conseil";
}
.bkWarning::before{
	background-position:0 4px;
	content:"Attention";
	color:#d51921;
}
.bkComp::before{
	background-position:0 -241px;
	content:"Complément";
}
.bkMeth::before{
	background-position:0 -174px;
	content:"Méthode";
}
.bkRemind::before{
	background-position:0 -137px;
	content:"Rappel";
}
.bkBasic::before{
	background-position:0 -278px;
	content:"Fondamental";
}
.bkSyntax::before{
	background-position:0 -390px;
	content:"Syntaxe";
}
.bkLegal::before{
	background-position:0 -103px;
	content:"Texte légal";
}
.bkSimul::before{
	background-position:0 -315px;
	content:"Simulation";
}
.bkBp .bkBase_ti{
	margin: 0.1em 0.2em;
	color:#434e52;
	margin-bottom:0.5em
}

.bkInfo .bkBase_ti{
	color:#434e52;
	margin-bottom:0.5em
}

.bkBp .bkBase_co{
	margin: 0.1px 0.1px 0.1em 0.2em;
	background: none;
	padding:0px
}

.bkBase_noti .bkBase_co{
	margin-top: 60px;
}

.bkInfo .bkBase_co{
	background: transparent;
	padding:0px
}

.bkWarning .bkBase_ti {
    color: #d51921;
}

/* Tables */
.txt_tb{
	margin:auto;
	border:0.2em solid #434e52;
	background-color: white;
}
.txt_tb caption{
	color: gray;
	font-style: italic;
}
.txt_tb td,
.txt_tb th{
	border:0.1em solid #434e52;
	padding:0.2em
}
.txt_tb thead{
	border-bottom:0.2em solid #434e52;
}
.txt_tb tfoot{
	border-top:0.2em solid #434e52;
}
.txt_tb p{
	margin: 1px 0;
}

.txt_tb .row_tbtr td, .txt_tb .row_tbtr th, .col_tbcl{
	background-color:#e0ecec;
}

.txt_tb th{
	text-align:center
}

.txt_t_tbcl,
.txt_t_tbtr{
	background-color:#fff5ea;
}
.txt_n_tbtd p{
	text-align: right;
}
.txt_w_tbtd p{
	text-align: center;
}
.txt_emphasis_is,
.txt_quote_ph,
.txt_special_ph{
	color:#434e52;
}
.resInFlow{
	text-align: center;
}
.caption,
.resInFlow_ti,
.webCap_ti {
	color: gray;
	font-style: italic;
	text-align: center;
}
.webCap_co{
	text-align: center;
}

.quoteBk {
	background-color: #F3F3F3;
	padding: 1em;
	font-family: Georgia, dejavu serif condensed, serif;
}

.eWeb{
	margin:0 auto;
}

.resFra{
	margin:0px auto;
	position: relative;
	padding-top: 15px;
}
.txtResResLft .resFra{
	margin-right: 15px;
}
.txtResResRgt .resFra{
	margin-left: 5px;
}
.objInFlow{
	text-align:center;
}
.imgInFlow{
	text-align:center;
}
.imgInline img,
.objInline object {
	vertical-align: middle;
}

/* External links */
a.op_txt_ul::after, a.txt_url_ul::after, a.extUrl::after, div.docUrl a::after{
	content:"";
	background: url("../img/co/text.svg") no-repeat 0 -40px;
	margin-left: 5px;
	width: 18px;
    height: 18px;
    display: inline-block;
}
a.op_txt_ul:hover::after, a.txt_url_ul:hover::after, a.extUrl:hover::after, div.docUrl a:hover::after{
	background-position:0 -60px;
}
/* Internal links */
.txt_ref_ul::after, .txt_acr_ul::after, .txt_glos_ul::after, .txt_bib_ul::after, .txt_resLnk_ul::after{
	content:"";
	background: url("../img/co/text.svg") no-repeat 0 -80px;
	margin-left: 5px;
	width: 18px;
    height: 18px;
    display: inline-block;
}
.txt_ref_ul:hover::after, .txt_acr_ul:hover::after, .txt_glos_ul:hover::after, .txt_bib_ul:hover::after, .txt_resLnk_ul:hover::after{
	background-position:0 -100px;
}

.txt_ucLnk_ul::after {
	content:"";
	background: url("../img/co/text.svg") no-repeat 0 -120px;
	margin-left: 5px;
	width: 18px;
    height: 18px;
    display: inline-block;
}
.txt_ucLnk_ul:hover::after{
	background-position:0 -140px;
}

.txt_docLnk_ul::after {
	content:"";
	background: url("../img/co/text.svg") no-repeat 0 -160px;
	margin-left: 5px;
	width: 18px;
    height: 18px;
    display: inline-block;
}
.txt_docLnk_ul:hover::after{
	background-position:0 -180px;
}

/* ================================== Quiz ================================== */
/* ---------- QCU, QCM Field cloze ordWord ---------- */
div.bkQuestion{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/quest.png");
	background-repeat: no-repeat;
	background-position: left top;
}
div.bkChoices{
	min-height: 45px;
	padding-left:60px;
}
div.bkCorrections, div.bkAnswer{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/score.png");
	background-repeat: no-repeat;
	background-position: left top;
}
div.bkExplanations{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/explain.png");
	background-repeat: no-repeat;
	background-position: left top;
}


div.mcgSurChoice_ur,
div.mcgMurChoice_ur,
div.mcqSurChoice_ur,
div.mcqMurChoice_ur{
	margin:2em 0;
}
div.mcgSurChoiceNum,
div.mcgMurChoiceNum{
	float: left;
	margin-right:0.5em;
	margin-left:25px;
	color: white;
	font-weight: bold;
	background-color: gray;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 3px;
}
div.mcgSurSol_right div.mcgSurChoiceNum,
div.mcgMurSol_check div.mcgMurChoiceNum{
	background-color: #8ae234;
}
div.mcgSurSol_wrong div.mcgSurChoiceNum,
div.mcgMurSol_unche div.mcgMurChoiceNum{
	background-color: red;
}

div.mcgSurChoiceLbl,
div.mcgMurChoiceLbl,
div.mcqSurChoiceLbl,
div.mcqMurChoiceLbl{
	display:flex;
	align-items:center;
}

div.mcgSurChoiceLbl::before,
div.mcgMurChoiceLbl::before,
div.mcqSurChoiceLbl::before,
div.mcqMurChoiceLbl::before{
	content:"";
	background:url("../img/quiz/checkbox.svg") no-repeat 0 0;
	flex: 0 0 18px;
	height:18px;
	display:block;
	margin:0.5em 0.5em 1em 0;
}
div.mcgSurChoice_ur div.mcgSurChoiceLbl::before,
div.mcqSurChoice_ur div.mcqSurChoiceLbl::before{
	background-position: 0 0;
}
div.mcgSurSol_right div.mcgSurChoiceLbl::before,
div.mcqSurSol_right div.mcqSurChoiceLbl::before{
	background-position: 0 -20px;
}
div.mcgMurChoice_ur div.mcgMurChoiceLbl::before,
div.mcqMurChoice_ur div.mcqMurChoiceLbl::before{
	background-position: 0 -40px;
}
div.mcgMurSol_check div.mcgMurChoiceLbl::before,
div.mcqMurSol_check div.mcqMurChoiceLbl::before{
	background-position: 0 -60px;
}
div.bkExplanations div.mcgMurChoiceLbl,
div.bkExplanations div.mcgSurChoiceLbl,
div.bkExplanations div.mcqSurChoiceLbl,
div.bkExplanations div.mcqMurChoiceLbl{
	color:#8c8c8c;
}

div.bkGapTextHide p,
div.bkGapTextShow p{
	line-height:140%;
}

span.txt_gap_tl {
	min-width:2em;
	display:inline-block;
	text-align: center;
	background-color:white;
	font-size:0.8em;
	padding:0 0.1em;
}
div.gapTextHide .txt_gap_tl {
	border: 0.1em solid #8c8c8c;
	color:white;
}
div.gapTextShow .txt_gap_tl {
	border: 0.1em solid #00AA00;
	color:#00AA00;
}
div.ordWordRand,
div.ordWordOrd {
	line-height:1.5em;
}
div.ordWordRand .bkOrdWordLbl {
	border: 0.1em solid #8c8c8c;
	padding:0 0.1em;
}
div.ordWordOrd .bkOrdWordLbl {
	border: 0.1em solid #00AA00;
	color:#00AA00;
	padding:0 0.1em;
}
table.matchTable{
	width:100%;
	border-collapse:separate;
	border-spacing: 0.5em;
}
td.matchBskt{
	border: 1px solid #434e52;
	vertical-align: top;
}
td.matchGroup{
	border: 1px solid #434e52;
	padding: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	vertical-align: top;
}
div.matchTarget{
	text-align:center;
	background-color: #434e52;
	color:white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding:0.1em;
}
.matchRand td.matchBskt{
	width:50%;
}
.matchOrd td.matchBskt{
	width:10%;
}
.matchRand div.matchTarget{
	margin-bottom:3em;
}
span.matchLbl{
	display:inline-block;
	margin:0.3em;
	border: 0.1em solid #8c8c8c;
}
.matchOrd span.matchLbl{
	border: 0.1em solid #00AA00;
}
/* ---------- practUc ---------- */
div.bkCtx{
	border: 0.2em solid  #434e52;
}
.bkCtx .bkBase_ti{
	margin: 0.1em 0.2em;
	color:#434e52;
	margin-bottom:0.5em
}
.bkCtx .bkBase_co{
	margin: 0.1px 0.1px 0.1em 0.2em;
	padding:0px
}
div.bkQuest{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/quest.png");
	background-repeat: no-repeat;
	background-position: left top;
}
div.bkHint{
	min-height: 45px;
	padding-left:60px;
	background-image:url("../img/quiz/sol.png");
	background-repeat: no-repeat;
	background-position: left top;
}
div.bkSol{
	padding-top:50px;
	background-image:url("../img/quiz/score.png");
	background-repeat: no-repeat;
	background-position: left top;
}

.intructionM {
	color: #666;
	margin-top:20px;
}
.listingBk{
	margin-top: 0.5em;	
	margin-bottom: 1em;	
}

/* === CodeMirror =========================================================== */
.CodeMirror-static{
	font-size:70%;
}
.CodeMirror-static pre {
	/* Reset some styles that the rest of the page might have set */
	border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre-wrap;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	overflow: visible;

	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-family: monospace;
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
}
.CodeMirror-line{
	background-image:url(../img/co/codeLine.png);
	background-repeat: no-repeat;
	background-size: 0.3em 1.1em;
	line-height: 1.1em;
	padding-left:0.9em;
}

.cm-keyword {color: #708;}
.cm-atom {color: #219;}
.cm-number {color: #164;}
.cm-def {color: #00f;}
.cm-variable {color: black;}
.cm-variable-2 {color: #05a;}
.cm-variable-3 {color: #085;}
.cm-property {color: black;}
.cm-operator {color: black;}
.cm-comment {color: #a50;}
.cm-string {color: #a11;}
.cm-string-2 {color: #f50;}
.cm-meta {color: #555;}
.cm-error {color: #f00;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #997;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-invalidchar {color: #f00;}
/* === STOP - CodeMirror ==================================================== */