/* *********************************************************
	Import slide CSS
*/
@import url("slideSS.css");

/* *********************************************************
	Slideshow root page styles
*/
div#tplToc{
	bottom: 20px;
	z-index:100
}
div.tplTocOn{
	width: 300px;
}
div.tplTocOff{
	width: 0;
}
div#tplTocCo{
	display: flex;
    flex-flow: column nowrap;
	margin: 1em 0;
}
div#tplTocScroll{
	flex: 1 1 auto;
    margin-bottom: 0;
    margin-top: 0;
    order: 2;
    overflow-y: auto;
    position: relative;
}
div.tocSrlUp{
	flex: 0 0 20px;
    order: 1;
	text-align:center;
}
div.tocSrlDwn{
	flex: 0 0 20px;
    order: 3;
	text-align:center;
}
div.tocSrlUp a,
div.tocSrlDwn a{
	display:inline-block;
	padding:0;
	box-sizing: border-box;
	width: 280px;
	height: 20px; 
	padding-left: 280px;
	overflow: hidden;
	background: url(../img/tpl/menu-scroller.svg) no-repeat top;
	background-size: 100%;
}

div.tocSrlDwn a.tocSrlDwnBtn{
	background-position: 0px -36px;
}

#tplToc div.btnOff a.tocSrlDwnBtn, #tplToc div.btnOff a.tocSrlUpBtn{
	opacity:0.3;
	cursor:default;
}


a.btnTocTglOn,
a.btnTocTglOff{
	position: absolute;
	top: 10px;
	width:12px;
	height:27px;
	right:-12px;	
	background-repeat: no-repeat;
	background-position: left top;
}
a.btnTocTglOn{
	background-image: url(../img/toc/collapse.png);
}
a.btnTocTglOn:hover{
	background-image: url(../img/toc/collapseOver.png);
}
a.btnTocTglOff{
	background-image: url(../img/toc/open.png);
}
a.btnTocTglOff:hover{
	background-image: url(../img/toc/openOver.png);
}
a.btnTocTglOn span,
a.btnTocTglOff span{
	display: none;
}
div#tplSldFra{
	bottom: 20px;
}
div.tplSldFraTocOn{
	left: 300px;
}
div.tplSldFraTocOff{
	left: 0;
}

a.btnModeHtml{
	background-image: url(../img/tools/btnMdeHtml.png);
	opacity:0.2;
	filter:Alpha(opacity=20); 
}
a.btnModeHtml:hover{
	opacity:1;
	filter:Alpha(opacity=100); 
}
a.btnEfcts,
a.btnNoEfcts{
	position: absolute;
	height : 40px;
	top:0px;
	width:30px;
	right:40px;
	background-repeat: no-repeat;
	background-position: center center;
}
a.btnEfcts{
	background-image: url(../img/tools/btnEfcts.png);
	opacity:0.2;
	filter:Alpha(opacity=20); 
}
a.btnEfcts:hover{
	opacity:1;
	filter:Alpha(opacity=100); 
}
a.btnNoEfcts{
	background-image: url(../img/tools/btnNoEfcts.png);
	opacity:0.2;
	filter:Alpha(opacity=20); 
}
a.btnNoEfcts:hover{
	opacity:1;
	filter:Alpha(opacity=100); 
}

a.btnEfcts span,
a.btnNoEfcts span,
a.btnModeHtml span{
	display:none
}

div.ssSlide{
	position: absolute;
	width: 100%;
	background-color: white;
	bottom:25px;
	top:0;
}

h1.slideTi{
	position: absolute;
	width: 100%;
	height: 10%;
	margin:0px;
	text-align: center;
}
iframe.slideFra{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	bottom:0px;
	border: 0px;
	overflow: hidden;
}

div#tplZoomFra{
	position: absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:110
}
div.tplZoomOvr{
	position: absolute;
	width:100%;
	height:100%;
	background-color: #4E6AA1;
	opacity:0.5;
	filter:Alpha(opacity=50); 
}
div#tplZoomCo{
	position: absolute;
	left: 15px;
	right: 15px;
	top: 15px;
	bottom: 15px;
	background-color: white;
	border: 3px solid #4E6AA1;
}
div.sldZmFrg,
div.sldZmSld{
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	overflow: hidden;
	text-align: center;
}
div.sldZmSld iframe{
	overflow: auto;
	
}
a.btnZmCls{
	position: absolute;
	width:31px;
	height:31px;
	top: -15px;
	right: -15px;
	background-repeat: no-repeat;
	background-image: url(../img/nav/btnZmCls.png);
	opacity:0.7;
	filter:Alpha(opacity=70); 
}
a.btnZmCls:hover{
	opacity:1;
	filter:Alpha(opacity=100); 
}
a.btnZmCls span{
	display: none;
}

div#tplFootBanner{
	left: 0;
}

.sldWaitMsg{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-150px;
	margin-top:-20px;
	width: 300px;
	height: 40px;
	background-color: white;
	border: 6px solid #5B6F94;
	text-align: center;
	
}
.sldWaitMsg span{
	display:block;
	padding-top:10px;
	font-size:1.2em;
	font-weight:bold;
	font-style: italic;
	color: #5B6F94;
	background:url(../img/co/throbber.gif) 5px 13px no-repeat
}


/* *********************************************************
	Menu styles
*/
ul#toc{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0 10px;
	text-align:left;
	cursor: default;
	margin-left:3px
}
ul#toc a {
	text-decoration: none;
	color: black;
}
ul#toc a span{
	color: black;
}
ul#toc a.toc_lnk span{
	padding: 2px 5px 2px 5px;
	display:inline-block;
	cursor:pointer;
	cursor:hand;
}
ul#toc a img{
	border: 0px;
	vertical-align: middle;
}
ul#toc ul{
	list-style-image:none;
	list-style-type:none;
	margin: 2px 0px 0px 0px;
	padding: 0px 0px 0px 14px;
}
ul#toc li{
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
	background-image: linear-gradient(to right, #434e52 0%,rgba(0,0,0,0) 100%);
	background-size: 100% 1px; 
	background-position: bottom; 
	background-repeat: no-repeat;
}
ul#toc ul li{
	background:none;
}

ul#toc .toc_i{
	color: black;
	padding-left: 15px;
	position: relative;
}
ul#toc a.toc_tgle_o,
ul#toc a.toc_tgle_c{
	position:absolute;
	display: inline-block;
	box-sizing: border-box;
	width:20px;
	height:20px;
	left:0;
	top:2px;
	padding-left: 20px;
	overflow: hidden;
	background: url(../img/tpl/menu-toggle.svg) no-repeat top;
	background-size: 18px;
	background-position: 0px 0px;
}
ul#toc a.toc_tgle_o{
	background-position: 0px -40px;
}
ul#toc a.toc_lnk {
	padding: 2px 2px 2px 7px;
	display: inline-block;
}
ul#toc div.toc_sel_yes a.toc_lnk span{
	display: inline-block;
	background-color:#434e52;
	color:white;
	border-radius:5px;
}

/* *********************************************************
	Prog bar styles
*/
.progFra{
	position:absolute;
	bottom: 25px;
	right: 110px;
	left: 140px;
	text-align:center;
	background-color:#999999;
	height:15px
}

.progTocOn{
	left:350px
}

.progCount{
	background-image:linear-gradient(to right, #434e52 90%, #999999);
	background-image:-webkit-linear-gradient(to right, #434e52 90%, #999999);
    background-image:-moz-linear-gradient(to right, #434e52 90%, #999999);
    background-image:-o-linear-gradient(to right, #434e52 90%, #999999);
	background-image:-ms-linear-gradient(to right, #434e52 90%, #999999); 
	background-color:#434e52;
	text-align: right;
	overflow: visible;
	left:0px;	
	color:#fff;
	position:absolute;
	height:15px;
	padding-right:10px;
	font-size:12px
}

.prog_0 .progCount{
	width:0%
}

.prog_5 .progCount{
	right:95%
}

.prog_10 .progCount{
	right:90%
}

.prog_15 .progCount{
	right:85%
}

.prog_20 .progCount{
	right:80%
}

.prog_25 .progCount{
	right:75%
}

.prog_30 .progCount{
	right:70%
}

.prog_35 .progCount{
	right:65%
}

.prog_40 .progCount{
	right:60%
}

.prog_45 .progCount{
	right:55%
}

.prog_50 .progCount{
	right:50%
}

.prog_55 .progCount{
	right:45%
}

.prog_60 .progCount{
	right:40%
}

.prog_65 .progCount{
	right:35%
}

.prog_70 .progCount{
	right:30%
}

.prog_75 .progCount{
	right:25%
}

.prog_80 .progCount{
	right:20%
}

.prog_85 .progCount{
	right:15%
}

.prog_90 .progCount{
	right:10%
}

.prog_95 .progCount{
	right:5%
}

.prog_100 .progCount{
	right:0px
}


/* *********************************************************
	Content styles
*/
#tplHomeSlide {
	bottom:0;
    background: rgba(0, 0, 0, 0) url("../img/tpl/back-home.svg") no-repeat fixed left center / 100% 100%;
}
.sldHome {
    margin-left: 15%;
}
.sldHome_ti{
	text-align: center;
	margin-top:4em;
	color:#ffffff;
	margin-bottom: 0;
	background-color: rgba(67,78,82,0.7);
}
.sldHome_co{
	color:#ffffff;
}
.sldHome_co .ssBk{
	background-color:transparent;
}
