/* *********************************************************
	Import slide CSS
*/
@import url("slideHtml.css");

/* *********************************************************
	Slideshow root page styles
*/
div#tplToc{
	width:25%;	
	height:100%
}

div#tplTocScroll{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	overflow:auto
}

div#tplSldFra{
	left:27%;
	bottom: 0;
}

a#btnModeSs{
	background-image: url(../img/tools/btnMdeSs.png);
	opacity:0.2;
	filter:Alpha(opacity=20); 
}
a#btnModeSs:hover{
	opacity:1;
	filter:Alpha(opacity=100); 
}
a#btnModeSs span{
	display: none;
}

div#tplFootBanner{
	left: 25%;
}


/* *********************************************************
	Menu styles
*/
ul#toc{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	text-align:left;
	cursor: default;
	margin-left:3px
}
ul#toc a {
	text-decoration: none;
	color: black;
}
ul#toc a span{
	color: black;
}
ul#toc a.toc_lnk span{
	padding: 0px 5px 0px 5px;
	display:inline-block;
	cursor:pointer;
	cursor:hand
}
ul#toc a img{
	border: 0px;
	vertical-align: middle;
}
ul#toc ul{
	list-style-image:none;
	list-style-type:none;
	margin: 2px 0px 0px 0px;
	padding: 0px 0px 0px 14px;
	}
ul#toc li{
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
}

ul#toc .toc_i{
	color: black;
	padding-left: 15px;
	position: relative;
}
ul#toc a.toc_tgle_o,
ul#toc a.toc_tgle_c {
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width: 15px;
}
ul#toc a.toc_tgle_o img,
ul#toc a.toc_tgle_c img{
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-7px;
	margin-left:-7px;
}
ul#toc a.toc_lnk {
	padding: 2px 2px 2px 7px;
	display: inline-block;
}
/*** Leaf ***/
ul#toc .tocObj{
	background: url(../img/toc/objPedMnu.png) left center no-repeat;
}

ul#toc .tocIntro{
	background: url(../img/toc/introMnu.png) left center no-repeat;
}

ul#toc .tocConclu{
	background: url(../img/toc/concluMnu.png) left center no-repeat;
}

ul#toc .tocCourseUa{
	background: url(../img/toc/courseUaMnu.png) left center no-repeat;
}

ul#toc .tocAssmntUa{
	background: url(../img/toc/assmntUaMnu.png) left center no-repeat;
}

ul#toc .tocExpUc{
	background: url(../img/toc/expUcMnu.png) left center no-repeat;
}

ul#toc .tocVidUc{
	background: url(../img/toc/vidUcMnu.png) left center no-repeat;
}

ul#toc .tocQuest{
	background: url(../img/toc/questMnu.png) left center no-repeat;
}

ul#toc .pres{
	background: url(../img/toc/ueMnu.png) left center no-repeat;
}

ul#toc .tocPractUc{
	background: url(../img/toc/practUcMnu.png) left center no-repeat;
}

ul#toc .tocMcqSur{
	background: url(../img/toc/trainUcMnu.png) left center no-repeat;
}

ul#toc .tocMcqMur{
	background: url(../img/toc/trainUcMnu.png) left center no-repeat;
}

ul#toc .tocField{
	background: url(../img/toc/trainUcMnu.png) left center no-repeat;
}

ul#toc .tocCloze{
	background: url(../img/toc/trainUcMnu.png) left center no-repeat;
}

ul#toc .tocCoQuiz{
	background: url(../img/toc/trainUcMnu.png) left center no-repeat;
}

ul#toc .tocOrdWord{
	background: url(../img/toc/trainUcMnu.png) left center no-repeat;
}

ul#toc .tocMatch{
	background: url(../img/toc/trainUcMnu.png) left center no-repeat;
}

ul#toc .tocContact{
	background: url(../img/toc/contactMnu.png) 2px center no-repeat;
}

ul#toc .toc_b{
	background: url(../img/toc/tgle_o.gif) 2px center no-repeat;
}

ul#toc div.toc_sel_no a.toc_lnk:hover{
	color:#4463A1;
}
ul#toc div.toc_sel_no a.toc_lnk:hover span{
	color:#4463A1;
}
ul#toc div.toc_sel_yes a.toc_lnk span{
	display: block;
	-webkit-border-radius: 50px;
	-moz-border-radius:50px;
	border-radius: 50px;
	background-color:#5B6F94;
	color:white;
}
/* *********************************************************
	Content styles
*/

.sldHome_ti{
	text-align: center;
	margin-top:3em;
	font-size:3em
}

.sldHome_co, .slideContact .slideBk_co {
color:gray;
font-size:1.3em;
text-align:center;
}
