/* *********************************************************
	Import common CSS
*/
@import url("common.css");

/* *********************************************************
	Slideshow slide page styles
*/
div#tplNav{
	display: none;
}
.ssBkRoot {
	position: relative;
}
.ssBk,
.ssContainer{
	position: absolute;
	left:0px;
	right:0px;
	background-color: white;
}
.ssBk .ssBk{
	position: static;
	background-color: inherit;
}
.ssBkCoParent {
	position: relative;
}
.pge_ti {
	text-align: center;
}

/* *********************************************************
	Content styles
*/

.slideBk{
	text-align:right;
}

.slideBk_co{
	text-align:left;
	padding-left:20px
}

.partBk, .slideContact{
	text-align: center
}

.partBk h1.slideBk_ti, .slideContact h1.slideBk_ti{
	color:#434e52;
	background:transparent;
}

h1.slideBk_ti {
    background: rgba(0, 0, 0, 0) url("../img/tpl/back-top.svg") no-repeat scroll center top / 100% 100%;
    color: white;
    margin: 0;
    padding-bottom: 0.7em;
    padding-left: 60px;
    padding-right: 80px;
}

.sldHome_ti,
.partBk .slideBk_ti,
.slideContact .slideBk_ti{
	text-align: center;
	margin-top:4em;
}
.sldHome_co,
.slideContact .slideBk_co {
	text-align: center;
	font-size: 0.9em;
}
.slideContact .slideBk_co {
	color:gray;
}
.presAuth p{
	margin-top:0;
}
.zoom{
	background:url(../img/co/zoom.png) center center no-repeat;
	display: block;
	width:40px;
	height:40px;
	position: absolute;
	top:-5px;
	right:-20px;
}
.zoom:hover{
	background:url(../img/co/zoomOver.png) center center no-repeat;
}
.zoom span{
	display: none;
}



/* ---------- animations ---------- */
div.sldAnmStart{
	background: no-repeat center center url("../img/anim/btnStart.png");
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
}
div.sldAnmCtrl{
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #9a9a9a;
	position:absolute;
	top:5px;
	left:50%;
	margin-left: -40px;
	height: 25px;
	width: 80px;
	border: 2px solid #434e52;
}
div.sldAnmCtrl span{
	display: none;
	position: absolute;
}
div.sldAnmCtrl a{
	display: block;
	width:16px;
	height:16px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 4px;
}
a.sldAnmBtnPrv{
	background-image:url("../img/anim/btnPrv.gif");
	left:5px;
}
a.sldAnmBtnPrv:hover{
	background-image:url("../img/anim/btnPrvOvr.gif");
}
a.sldAnmBtnNxt{
	background-image:url("../img/anim/btnNxt.gif");
	right:5px;
}
a.sldAnmBtnNxt:hover{
	background-image:url("../img/anim/btnNxtOvr.gif");
}
a.sldAnmBtnPse{
	background-image:url("../img/anim/btnPse.gif");
	left:33px;
}
a.sldAnmBtnPse:hover{
	background-image:url("../img/anim/btnPseOvr.gif");
}
a.sldAnmBtnPly{
	background-image:url("../img/anim/btnPly.gif");
	left:33px;
}
a.sldAnmBtnPly:hover{
	background-image:url("../img/anim/btnPlyOvr.gif");
}