/* *********************************************************
	Import common CSS
*/
@import url("common.css");



/* *********************************************************
	Slideshow slide page styles
*/
div#tplPge{
	top:0;
	left:0;
}
div#tplSld{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	bottom: 45px;
	overflow: auto;
	font-size: 1.2em;
}
div#tplNav{
	bottom:0px;
	left:0px;
	width:100%;
	height: 40px;
	position: absolute;
}

#btnRoot{
	left: 10px;
	background-position:0 -95px;
	z-index: 2;
}

span.outNav_i{
	display: none;
}
span.sw_stack{
	position: absolute;
	display: block;
	top: 15px;
	left: 0px;
	height:1.5em;
	overflow: hidden;
	color:#434e52;
	font-size: 0.8em;
	padding-left:50px;
	padding-right:120px;
}
span.sw_stack_navList{
}

div.imgOthers{
	display: none;
}

/* *********************************************************
	Content styles
*/

.slideBk{
	text-align:right;
}

.slideBk_co{
	text-align:left;
	padding-left:20px
}

.partBk, .slideContact, .slideCourseUa{
	text-align: center;
	margin-top:3em
}

.partBk h1.slideBk_ti, .slideContact h1.slideBk_ti, .slideCourseUa h1.slideBk_ti{
	color:#434e52;
	background:transparent;
}

h1.slideBk_ti {
    padding-top: 0px;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0) url(../img/tpl/back-top.svg) no-repeat scroll center top / 100% 60px;
    padding-left: 60px;
    padding-right: 10px;
    color: white;
    min-height: 60px;
}

.bkDiv .bkBase_co{
	background: url(../img/co/part.png) top left no-repeat;	
	padding:1em 0.1em 0.1em 1em
}

.docSrc{
	padding-left: 1em;
}
.embedObj {
	max-width: 1000px;
	max-height: 800px;
}
.intructionM {
	color: #666;
	margin-top:20px;
}