/* quiz in assmntUa */

.answBest,
.answGood,
.answBad {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	text-align: right;/* Opale RTL */

}
.answBest {
	color: #00aa00;
}
.answGood {
	color: #ff6600;
}
.answBad {
	color: #60749c; 
}

.explain,
.choiceExplain {
	margin-right: 0.3em;/* Opale RTL */
	padding-right: 0.9em;/* Opale RTL */
	color: #79ACF7;
	font-style: italic;
	font-weight: lighter;
}

.explain .op_txt_oli p,
.choiceExplain .op_txt_oli p {
	color: #79ACF7;
}

.btnQuiz {
	display: block;
	position: absolute;
	top: 0;
	right: 33px;/* Opale RTL */
	width: 29px;
	height: 33px;
	text-decoration: none;
}
.btnQuizCaption {
	display: none;
}
.btnSol a {
	background: url(../img/quiz/sol2.png) top left no-repeat;/* Opale RTL */
}
.btnSol a:hover {
	background: url(../img/quiz/sol2Over.png) top left no-repeat;/* Opale RTL */
}
.btnSol a.toggleButtonOn{
	background: url(../img/quiz/sol2On.png) top left no-repeat;/* Opale RTL */
}
.btnSol a.toggleButtonOn:hover{
	background: url(../img/quiz/sol2OnOver.png) top left no-repeat;/* Opale RTL */
}

.SolQuestion {
	background: url(../img/quiz/questionSolS.png) top right no-repeat;/* Opale RTL */
	position: relative;
	padding-right: 70px;/* Opale RTL */
	margin-top: 1em;
}
.question {
	background: none;
	margin-right: 0px;/* Opale RTL */
	padding-right: 0px;/* Opale RTL */
	min-height: 10px;
	margin: 0 0 0 0;
}
.question p {
	text-indent: 0%;
	margin-right:0px;/* Opale RTL */
}

.evalSolEx {
	background-color: #EDF2F9;
	border: 2px solid #4463A1;
	padding: 5px 10px 5px 10px;
}