body{
	height:100%;
	background-color: black;
}
#tplFra {
	position: absolute;
	text-align: right;/* Opale RTL */
	top:50%;
	right:50%;/* Opale RTL */
	height:660px;
	margin-top:-330px;
	width:1020px;
	margin-right:-510px/* Opale RTL */
}
#tplCo {
	width:920px;
	height:560px;
}
#tplBtmIn {
	width: 820px;
}
.ie_fix a {
	text-decoration: none;
}

#main_nav a.startBtn{
	/*
	 * "Internet Explorer does not make the whole link clickable"
	 * http://www.adobe.com/cfusion/communityengine/index.cfm?event=showdetails&postId=1643&productId=1&loc=en_US
       	 */
	height:0;
}


 /****** Opale RTL ****/
/*** debug width of the window ***/
.hidden{
	display:none;
}
