 
div.subWindow_over{
	width: 100%;
	height: 100%;
	bottom: auto;
	left: auto;/* Opale RTL */
	position: absolute;
}


div.subWindow_win{
	position: absolute;
	top:50%;
	right:50%;/* Opale RTL */
	height:600px;
	margin-top:-300px;
	width:800px;
	margin-right:-400px;/* Opale RTL */
}
div.subWindow_co{
	height:572px;
	width:794px;
	background-color: #CA0000;
}
iframe.subWindow_fra{
	height:572px;
	width:794px;
}

 /****** Opale RTL ****/
/*** debug width of the window ***/
.hidden{
	display:none;
}
