html{
	height: 100%;
	overflow:hidden;
}
/* ============= Accessibility menu ============= */
ul#accessibility {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position:absolute;
	right:50px;
	width:auto;
	z-index:90;
	font-size:7pt;
	top:3px;
	opacity: 0.2;
	filter:Alpha(opacity=20); 
	color:white;
}
ul#accessibility:hover,
ul#accessibility.waiFocus{
	opacity: 0.7;
	filter:Alpha(opacity=70); 
}
ul#accessibility li{
	float: left;
	margin-left:10px;
}
ul#accessibility a{
	color:white;
	text-decoration: none;
}
ul#accessibility a:hover{
	text-decoration: none;
}

ul.mnuMode{
	margin:0;
	padding:0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
noscript{
	font-size: 0.8em;
	font-style: italic;
}
#tplFra {
/*	position: absolute; compat IE7 */
	background-color: black;
	height:100%;
	width:100%;
	min-width:700px;
	min-height:360px;
}
#tplTop {
	position: absolute;
	width:100%;
	height:50px;
	top:0px;
	left:0px;
	color: white;
	text-align: right;/* Opale RTL */
	font-size:16px;
	
}
#titleRoot{
	position: absolute;
	height:23px;
	width:100%;
	bottom: 0px;
	left: 50px;/* Opale RTL */
	font-size: 18px;
	text-align: left;/* Opale RTL */
	padding: 5px 0px 5px 10px;/* Opale RTL */
	background: url(../img/struct/topBkg.png) repeat-y top left;/* Opale RTL */
	color:white;
	font-weight:bold;
}

#tplLft {
	position: absolute;
	width:48px;
	top:50px;
	right:2px;/* Opale RTL */
	color: white;
	overflow: hidden;
	text-align: center;
	padding-bottom:26px;
	background: url(../img/struct/leftBkg.png) bottom left no-repeat;/* Opale RTL */
	min-height: 30px;
}
#tplMain{
	position: absolute;
	background-color: white;
	top:4.2em;
	bottom:50px;
	left: 50px;
	right:50px;
}
#tplMnu {
	position: absolute;
	background-color: white;
	width:250px;
	top:0px;
	right:0px;/* Opale RTL */
	bottom:0px;
	text-align: right;/* Opale RTL */
	font-size: 1.2em;/* Opale RTL : pour meilleure lisibilité de l'écriture arabe */
}

div.mnuOpn{
	position: absolute;
	width: 15px;
	height: 27px;
	left:0px;/* Opale RTL */
	bottom:210px;
}
a.mnuOpnBtn{
	position: absolute;
	width: 15px;
	height: 27px;
}
a.mnuOpnBtn .btnImg{
	border:0px;
}
a.mnuOpnBtn .btnLbl{
	color:black:
}

#tplIco{
	position: absolute;
	text-align: center;
	width:240px;
	bottom:0px;
	height:200px;
	overflow: hidden;
}
#tplIco img{
	position: absolute;
	right:0px;/* Opale RTL */
	bottom:0px;
}
div.mnuCls{
	position: absolute;
	background-color: white;
	top:0px;
	right:0px;/* Opale RTL */
	bottom:0px;
	width: 15px;
}
div.tplMainMnu_open div.mnuCls{
	display:none;
}
div.tplMainMnu_closed #tplMnu{
	display:none;
}
a.mnuClsBtn{
	position: absolute;
	width: 15px;
	height: 27px;
	bottom:210px;
}
a.mnuClsBtn .btnImg{
	border:0px;
}

a.mnuClsBtn .btnLbl{
	color:black:
}

#tplCo {
	position: absolute;
	background-color: white;
	top:0px;
	left:0px;/* Opale RTL */
	bottom:0px;
	overflow: auto;
	font-size: 1.2em;/* Opale RTL : pour meilleure lisibilité de l'écriture arabe */
}
.tplMainMnu_open #tplCo{
	right:250px;/* Opale RTL */
	left : 0px;/* Opale RTL */
}
.tplMainMnu_closed #tplCo{
	right: 15px;/* Opale RTL */
	left : 0px;/* Opale RTL */
}

/* with overflow=auto, margin-bottom does not work correctly for some browsers */
/* using this method as a workaround : http://www.brunildo.org/test/overscrollbackV.html */
#tplCoSpacer {
	height:20px;
	width : 200px;/* Opale RTL */
}

#tplRgt {
	position: absolute;
	width:50px;
	height:92px;
	left:0px;/* Opale RTL */
	bottom:50px;
	overflow: hidden;
	text-align: center;
	background: url(../img/struct/rightBkg.png) top right no-repeat;/* Opale RTL */
}
#tplBtm {
	position: absolute;
	width:100%;
	height:50px;
	bottom:0px;
	left:0px;
	color: white;
	text-align: left;/* Opale RTL */
}
#tplBtmLeft{
	position: absolute;
	display: block;
	right: 50px;/* Opale RTL */
	height:48px;
	padding-left:26px;/* Opale RTL */
	background: url(../img/struct/bottomBkg.png) top left no-repeat;/* Opale RTL */
}
#tplBtmIn {
	position: absolute;
	display: block;
	left: 50px;/* Opale RTL */
	right: 150px;/* Opale RTL */
	padding-top:2px;
	color: #808080;
}
#linkSp{
	text-decoration: none;
	margin: 0px;
}
#linkSp img{
	border-width:0px;
	vertical-align: middle;
}
#tplBtmIn a {
	color: white;
}
#tplBtmIn a:hover {
	color: lightgray;
}

/* === SMALL & TOUCH screens ================================================ */
/* ipad */
@media only screen and (max-device-width: 1024px){
	body{
		-webkit-text-size-adjust:none;
	}
}
div.tplFra_small #tplTop{
	height:33px;
}
div.tplFra_small ul#accessibility{
	display:none;
}
div.tplFra_small #titleRoot{
	right:0;
}
div.tplFra_small #tplMain{
	top:33px;
	right:33px;/* Opale RTL */
	left:0;/* Opale RTL */
	bottom:21px;
}
div.tplFra_small #tplLft{
	top:66px;
	width:33px;
	right:0;/* Opale RTL */
}
div.tplFra_small #tplMnu{
	background-color:transparent;
}
div.tplFra_small ul.mnuMode li{
	width:33px;
	height:33px;
	position:relative;
}
div.tplFra_small #tplLft img.btnImg{
	position:absolute;
	left:0;/* Opale RTL */
}
div.tplFra_small #tplRgt{
	right:0;/* Opale RTL */
	width:33px;
	bottom:0;
	height:125px
}
div.tplFra_touch #tplRgt{
	height:98px
}
div.tplFra_small #tplBtm{
	position:static;
}
div.tplFra_small #tplBtmLeft{
	position:static;
}
div.tplFra_small #tplIco{
	display:none;
}
div.tplFra_small div.mnuBlock{
	display:none;
}
div.tplFra_small div.mnuFra{
	bottom:0;
	border-left:3px solid #7C97CA;/* Opale RTL */
	background-color:white;
}
div.tplFra_small div.mnuOpn{
	top:0;
	bottom:0;
	height:auto;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
}
div.tplFra_small a.mnuOpnBtn, 
div.tplFra_small a.mnuClsBtn{
	top:50%;
	margin-top:-7px;
}
div.tplFra_small span#tplBtmIn{
	bottom:0;
	left:0;/* Opale RTL */
	height:18px;
	right:33px;/* Opale RTL */
	background-color:white;
	padding: 2px 3px 0 0;
	border-top:1px solid #7C97CA;
}
div.tplFra_touch .scroller{
	padding-top:1px;
	padding-bottom:1px;
	width:100%;
}

/* TABLET - portrait */
@media only screen and (orientation:portrait){
	div.tplFra_small .tplMainMnu_open #tplCo {
		right: 15px;/* Opale RTL */
	}
	div.tplFra_small #tplMnu{
		z-index: 10;
	}
}

/* PHONE - portrait */
/*@media screen and (max-device-width: 480px){*/
@media only screen and (max-width: 480px){
}


